@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Days+One|PT+Sans+Caption:700');
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea,
.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
  font-family: 'Muli', sans-serif;
}
.navbar-brand>img {
  height: 75px;
  width: 200px;
}

.navbar .navbar-brand {
  margin: auto;
  padding: 10px 0px 10px 0px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
}

.page-header {
  min-height: 600px;
  height: 600px;
}

.header-title{
  
}

.first-section {
  padding: 30px 0 !important;

}

.delay-1{
animation-delay:0.3s;
}
.delay-2{
animation-delay:0.6s;
}

.modal-photo, .modal-info {
   background-color: #FFF;

   padding: 24px 0px 24px 0px;
   width: 50%;
   height: 200%;
   position: relative;
   display: none;
   background-size:cover;
}

.cd-section {
  padding: 70px 0 0 0;
}

.modal-photo {
  background-size:cover
}

.space-top {
  padding-top: 25%;
}

.closeButton {
  float: right;
  color: white;
}


.words {
  color: #444;
  font-size: 0;
  line-height: 1;
  span {
    font-size: 120px;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
}

@keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-us .contact .form-control {
    margin-bottom: 20px;
}

.becom-background-color{
  background-color: #b1d062;
  border-color: #b1d062;
}

.becom-color{
  color: #b1d062 !important;
}
