@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Days+One|PT+Sans+Caption:700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700,900|Alegreya+Sans:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea,
.title, .card-title, .info-title, .footer-brand, .footer-big h5, .footer-big h4, .media .media-heading {
  font-family: 'Muli', sans-serif;
}

video {
  height: auto;
}

.big-map {
  height: 500px !important;
}

.page-header{
  background-color: white;
}

.content-index{
  top:20% !important
}

.navbar-brand img {
  height: 70px;
  width: 200px;
}

.navbar .navbar-brand {
  margin: auto;
  padding: 10px 0px 10px 0px;
}

.navbar .navbar-nav .nav-item, .nav-link {
  font-size: 14px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 900;
}

.nav-link-transparent {

  // text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
}

@media(min-width: 992px){
  .nav-link-transparent {
      font-size: 20px !important;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-weight: 900;
      color:white !important;
      text-shadow: 1px 1px 2px black, 0 0 25px gray, 0 0 5px black;
  }
}


.dropdown-item a{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
}

@media(min-width: 1400px){
  .navbar-translate {
    margin-left: -100px;
  }
}

/*.page-header {
  min-height: 600px;
  height: 600px;
}*/

.first-section {
  padding: 30px 0 !important;

}

.delay-1{
animation-delay:0.3s;
}
.delay-2{
animation-delay:0.6s;
}

.modal-photo, .modal-info {
   background-color: white;

   padding: 24px 0px 24px 0px;
   width: 50%;
   height: 200%;
   position: relative;
   display: none;
   background-size:cover;
}

/*.cd-section {
  padding: 70px 0 0 0;
}*/

.modal-photo {
  background-size:cover
}

.space-top {
  padding-top: 25%;
}

.closeButton {
  float: right;
}


.words {
  color: #444;
  font-size: 0;
  line-height: 1;
  span {
    font-size: 120px;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
}

@keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contact-us .contact .form-control {
    margin-bottom: 20px;
}

.card-img-top {
  cursor: pointer;
}

.que-hacemos-card {
  cursor: pointer;
}

.becom-card {
  box-shadow: none;
}

.becom-card:hover {
  box-shadow: none !important;
}

/* Social sidebar */
@media screen and (max-width: 600px){
  .social {
    visibility: hidden;
  }
}

.social{
  position: fixed;
  z-index: 999999;
  top: 30%;
  width: 0px;
}
.social a {
  color: #fff;
  text-decoration: none;
}
.social ul {
  padding: 13px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-270px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(17, 17, 17, 0.71);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgb(0, 0, 0);
}
.social ul li:hover a {
  color: #fff;
}
.social ul li:hover i {
  color: #fff;
  background: #b1d062;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 8px 0px 0px 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


/* NAVIGATION */
nav.stroke ul li a,
nav.stroke ul li a:after,
nav.stroke ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a:hover{
  color: #b1d062 !important;
}
nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ADD149;
  height: 1px;
  text-shadow: none !important;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}



/*.navbar-nav li .dropdown-menu:after, .navbar-nav li .dropdown-menu:before{
  border-bottom: 11px solid red;
}*/


/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.transparent {
    background: transparent; 
    box-shadow: none;
}

// .transparent a {
//     font-size: 16px !important;
// }

.nav-down{
  background-color: transparent;
  box-shadow: none;
}

.nav-down a{
  font-family: 'Montserrat', sans-serif; 
  color: black !important;
  font-size: 18px !important;
}

.nav-up{
  background-color: white;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.height-250 {
  height:250px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Becom Text
.bold {
  font-weight: bold;
}

.thin-text-font-400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.thin-text-font-700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.font-med {
  font-size:1.2em;
}
.font-small {
  font-size:0.8em;
}

.text-font {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
}

.huge-text-font {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
}

.huge-text-font-montserrat {
 font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.libre-text {
  font-family: 'Libre Baskerville', serif;
}

.font-2em {
  font-size: 2em !important;
}
.font-1em{
  font-size: 1em !important;
}
.font-title-huge {
  font-size: 1.6em !important;
}
.font-title-little {
  font-size: 1.2em !important;
}
// Becom colours
.white {
  color: white;
}
.black {
  color: black;
}
.dark-gray {
  color: #151515;
}
.gray {
  color: gray;
}
// Becom yellow
.becom-background-yellow {
  background-color: #FFB634;
  border-color: #FFB634;
}
.becom-yellow {
  color: #FFB634;
}

// Becom Green
.becom-background-color{
  background-color: #b1d062;
  border-color: #b1d062;
}
.becom-color{
  color: #ADD149 !important;
}

// Becom blue
.becom-background-blue{
  background-color: #92b1bd;
  border-color: #92b1bd;
}
.becom-blue {
  color: #92b1bd;
}

// Becom Green 2
.becom-background-green2 {
  background-color: #ADD149;
}

.becom-green2 {
  color: #ADD149;
}

// Becom list
.vosotros-list {
  list-style: none;
}

// Floats
.f-right{
  float:right;
}

// Margins
.m-right-20 {
  margin-right: 20px;
}

.m-right-40 {
  margin-right: 40px;
}

.m-right-60 {
  margin-right: 60px;
}

.m-right-80 {
  margin-right: 80px;
}

.m-left-20 {
  margin-left: 20px;
}

.m-left-40 {
  margin-left: 40px;
}

.m-left-60 {
  margin-left: 60px;
}

.m-left-80 {
  margin-left: 80px;
}


.carousel-indicators .active {
  background-color: #ADD149;
}

.carousel-control {
  background-color: #151515;
  color: white;
}

.carousel-control:hover, .carousel-control:focus {
  background-color: #ADD149;
  color: #151515;
}